.banner-container{
  color: white;
}
.banner{
  background-image: url("https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2786&q=80");
  background-size: cover;
}
